.tableGroupe{

    margin-top: 15px;
    width: fit-content;
}


.scroller {
    
    height: 450px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }






  