.carteListeExperimentation{
    margin: 10px;
    border-radius: 15px;
    height: 225px;
    border: 5px solid #ffffff;
    border-radius: 12px;
    transition: transform .2s;/*temps transition de mon hoover*/
    cursor: pointer;  /*afficher doigt*/  
    padding: 5px;
    background: white;
    box-shadow: 1px 1px 8px rgb(171, 171, 171);

    

   
}

.carteListeExperimentation:hover{
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
  }

.rowParticipantFirst{
  height : 40px;
  
}






.scrollercarteListeExperimentation {
 
    margin-top: 25px;
    height: 500px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;

    flex-wrap: wrap ;
    display : flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: center;
    
  }



  .carteListeMesExperimentations
  {
    margin: 10px;
    border-radius: 15px;
    height: 175px;
    border: 5px solid #ffffff;
    border-radius: 12px;
    transition: transform .2s;/*temps transition de mon hoover*/
    cursor: pointer;  /*afficher doigt*/  
    padding: 5px;
    background: white;
    box-shadow: 1px 1px 8px rgb(171, 171, 171);
  }



     


.carteListeMesExperimentations:hover{
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
  }

.rowParticipantFirst{
  height : 40px
}