.composantMesJEEI{
  
    
    flex-wrap: wrap ;
    display : flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  
 

  
    
}



.imgCardMesJEEI{
    height: 10rem;
    object-fit: cover;

    
    
}

.cardMesJEEI{
    width: 30rem;
    margin: 15px;
    box-shadow: 1px 1px 12px rgb(171, 171, 171);
    padding: 5px;
 


}



