

.nav-pills > li > a.active {
    background-color: #facd19 !important;
    

    
}



.nvSousPage:hover {
    cursor:pointer;
    background-color:rgb(231, 231, 231);
    


}

.nvSousPage{
    margin-right: 25px;
    padding-right: 25px;
    font-weight:500;
    color: rgb(194, 192, 192);
    
    

}


.formulaireSpecificationMesJEEI{
    padding-top: 25px;
    margin-left: 25px;
    margin-right: 25px;

}


input[type="text"]:disabled{
    background-color:rgb(221, 221, 221);
}

.file-upload {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    opacity: 0;
    cursor: pointer;
    
}

.champsUpload{
    border: 10px;
    border-color: grey;

}

.imgMonJEEI{
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    
}

.headerPhotoMonJEEI{


    flex-wrap: wrap ;
    display : flex;
    flex-direction: row-reverse;
    margin-top: 10px;




}