

.nav-pills > li > a.active {
    background-color: #facd19 !important;
    

    
}



.nvSousPage:hover {
    cursor:pointer;
    background-color:rgb(231, 231, 231);
    


}

.nvSousPage{
    margin-right: 25px;
    padding-right: 25px;
    font-weight:500;
    color: rgb(194, 192, 192);
    
    

}


.formulaireSpecificationMesJEEI{
    padding-top: 25px;
    margin-left: 25px;
    margin-right: 25px;

}


input[type="text"]:disabled{
    background-color:rgb(221, 221, 221);
}

.file-upload {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    opacity: 0;
    cursor: pointer;
    
}

.champsUpload{
    border: 10px;
    border-color: grey;

}

.imgMonJEEI{
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    
}

.headerPhotoMonJEEI{


    flex-wrap: wrap ;
    display : flex;
    flex-direction: row-reverse;
    margin-top: 10px;




}


.scroller {
 
    height: 500px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    
  }

  .centree{
      /*
      flex-wrap: wrap ;
      display : flex;
      flex-direction: column;
      */
      margin-top: 10px;

      /*
        align-items: center;
        justify-content: space-between;
      */
  }


  .listeEquipe{
    flex-wrap: wrap ;
    display : flex;
    flex-direction:row;



  }

  .carteMembreEquipe{
      margin: 25px;
      border-radius: 15px;
      height: 225px;
      border: 5px solid #ffffff;
      border-radius: 12px;
      transition: transform .2s;/*temps transition de mon hoover*/
      cursor: pointer;  /*afficher doigt*/  
      padding: 5px;
      background: white;
      box-shadow: 1px 1px 8px rgb(171, 171, 171);
     
  }

  .carteMembreEquipe:hover{
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
    }
  
.rowEquipeFirst{
    height : 40px
}

.btnGroupMesJEEIPresentation{

    
    

}

.scoringJaune{
    background-color: rgba(255, 208, 0, 0.903);
  
    margin: 15px;
    border-radius: 15px;
}

.scoringGris{
    background-color: grey;
 
    margin: 15px;
    border-radius: 15px;
}

.scoringOrganisation{
    height: 20rem;
    border: 2px;

    margin: 15px;

    flex-wrap: wrap ;
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.chiffreCle{

    flex-wrap: wrap ;
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 3vw;

}

.titrechiffreCle{
    color: grey;
    font-weight: bold;
    
    
}

.textChiffreCle{
    color: grey;
}


.titrechiffreCleTemoin{
    color: white;
    font-weight: bold;
    
    
}

.textChiffreCleTemoin{
    color: white;
}


.carteListeExperimentationPt{
    margin: 10px;
    border-radius: 15px;
    height: 150px;
    border: 5px solid #ffffff;
    border-radius: 12px;
    transition: transform .2s;/*temps transition de mon hoover*/
    cursor: pointer;  /*afficher doigt*/  
    padding: 5px;
    background: white;
    box-shadow: 1px 1px 8px rgb(171, 171, 171);
    

    

   
}