

.nav-pills > li > a.active {
    background-color: #facd19 !important;
    
}

.nvSousPage:hover {
    cursor:pointer;
    background-color:rgb(231, 231, 231);


}

.nvSousPage{
    margin-right: 15px;
    padding-right: 15px;

}