.containerParentPage {

}

.nav-item a {
    color: rgb(209, 209, 209);
}



.nav-link active
{
    color: rgb(243, 225, 32);
}



/* personnalisation des caracteres du champs mdp*/
.mdp-cache
{
    color: #e89a35;
}


