
<!-- indexJEEIDB = emplacement dans la DB du JEEI(different de son ID) 
  / indexCarteAffichage = index des cartes affichée à l'ecran (de 1 à 4)-->

{% macro afficherCarteMesJEEI(indexJEEIDB,listeMesJEEI,indexCarteAffichage) %}

  <div id={{"carteMesJEEI"+indexCarteAffichage}} class="cardMesJEEI" id="macroTest" onclick="redirectionVers('{{indexCarteAffichage}}')"><!-- le Onclick c'est pour rendre ma carte cliquable-->
      
      <div id={{"imgMesJEEI"+indexCarteAffichage}}> 
        <img   src={{listeMesJEEI.img[indexJEEIDB]}} class="card-img-top imgCardMesJEEI"  alt="...">
      </div>
      <div class="card-body">
        <h5 id={{"nomMesJEEI"+indexCarteAffichage}} class="card-title"><B> {{listeMesJEEI.noms[indexJEEIDB]}}</B></h5>
        <p id={{"descriptifMesJEEI"+indexCarteAffichage}} class="card-text">{{listeMesJEEI.descriptifs[indexJEEIDB]}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li id={{"themeMesJEEI"+indexCarteAffichage}} class="list-group-item"><B> Thème</B> :  {{listeMesJEEI.themes[indexJEEIDB]}}</li>
        <li id={{"statutMesJEEI"+indexCarteAffichage}} class="list-group-item"><B> Score Global</B> : 83 </li>
        <li id={{"nbrExperimentationsMesJEEI"+indexCarteAffichage}} class="list-group-item"><B> Nbr Experimentations</B> : {{listeMesJEEI.nbrExperimentations[indexJEEIDB]}}</li>
      </ul>
      <div class="card-body boutonsCarte">

          <a class="btn btn-outline-warning" href="http://127.0.0.1:5000/ExperimentationJEEI?idJEEI={{listeMesJEEI.id[indexJEEIDB]}}" role="button">Expérimentation</a>
          <a class="btn btn-outline-secondary" href="http://127.0.0.1:5000/DataJEEI?idJEEI={{listeMesJEEI.id[indexJEEIDB]}}" role="button">Data</a>
          <a class="btn btn-outline-danger" href="http://127.0.0.1:5000/SupprimerMonJEEI?idJEEI={{listeMesJEEI.id[indexJEEIDB]}}" role="button">Supprimer</a>
      </div>
  </div> 

{% endmacro %}

