


{% macro afficheContenuPresentation(monJEEI) %}



<div > 
  <div class="input-group col-sm-10">
    <img class="imgMonJEEI" src="{{monJEEI.img}}"   >
  </div>

  <div class="input-group col-sm-10 headerPhotoMonJEEI">
          <!--action = nom de la route où ca nous mene -->
          <form action="uploadPhoto?idJEEI={{monJEEI.id}}" method="post" enctype=multipart/form-data>
           
          <input type="file" name="file" >
          <input type="submit" value="Chargez" class="btn btn-secondary  file-upload-btn" style="cursor :pointer" onclick="fonction_sauvegardeTableJeei('idImageMonJEEI',{{monJEEI.id}})">
        </form>

  </div>
</div>





<div id="idFormulaireContenuPresentation" class="formulaireSpecificationMesJEEI">
    <div class="row mb-3">
      <label for="idMonJEEI" class="col-sm-2 col-form-label">ID</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="idIDMonJEEI" disabled placeholder={{monJEEI.id}}>
      </div>
    </div>
    <div class="row mb-3">
        <label for="dateCreationMonJEEI" class="col-sm-2 col-form-label">Création</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="idDateCreationMonJEEI" disabled placeholder={{monJEEI.dateCreation}}>
        </div>
        
      </div>
    <div class="row mb-3">
        <label for="nomMonJEEI" class="col-sm-2 col-form-label">Nom</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="idNomMonJEEI"  value="{{monJEEI.nom}}"  onchange="fonction_sauvegardeTableJeei('idNomMonJEEI',{{monJEEI.id}})"  > 
        </div>
        <div class="col-sm-2 " id='affichageValidationSauvegardenom'>
          
        </div>
      </div>
 
    <div class="row mb-3">
        <label class="col-sm-2 form-label" for="descriptifMonJEEI">Descriptif </label>
        <div class=" col-sm-8 form-outline">
            <textarea class="form-control" id="idDescriptifMonJEEI" maxlength='140'rows="4" 
              onchange='fonction_sauvegardeTableJeei("idDescriptifMonJEEI",{{monJEEI.id}})'> {{monJEEI.descriptif}}</textarea> 
        </div>
        <div class="col-sm-2 " id='affichageValidationSauvegardedescriptif'>
          
          
        </div>
    </div>





 









</div>


{% endmacro %}


{% macro afficheContenuDocumentation(specification) %}

<div class="input-group col-sm-10 chargementSpecificationPdf">
  <!--action = nom de la route où ca nous mene -->
  <form action="uploadFilePdf" method="post" enctype=multipart/form-data>
  <label for="file">documentation </label>
  <input type="file" name="file" label="documentation" >
  <input type="submit" value="Chargez" class="btn btn-secondary  file-upload-btn" style="cursor :pointer" onclick="fonction_sauvegardeTableJeei('idImageMonJEEI',0)">
</form>

</div>
{% endmacro %}



{% macro afficheContenuTest() %}

<form id="idFormulaireContenuTest" class="formulaireSpecificationMesJEEI">
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3">
      </div>
    </div>
    <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            First radio
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Second radio
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
          <label class="form-check-label" for="gridRadios3">
            Third disabled radio
          </label>
        </div>
      </div>
    </fieldset>
    <div class="row mb-3">
      <div class="col-sm-10 offset-sm-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1">
          <label class="form-check-label" for="gridCheck1">
            Example checkbox
          </label>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-10 offset-sm-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1">
          <label class="form-check-label" for="gridCheck1">
            Example checkbox
          </label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>

{% endmacro %}


{% macro afficheContenuResultats() %}

<form id="idFormulaireContenuResultats" class="formulaireSpecificationMesJEEI">
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3">
      </div>
    </div>
    <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            First radio
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Second radio
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
          <label class="form-check-label" for="gridRadios3">
            Third disabled radio
          </label>
        </div>
      </div>
    </fieldset>
    <div class="row mb-3">
      <div class="col-sm-10 offset-sm-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1">
          <label class="form-check-label" for="gridCheck1">
            Example checkbox
          </label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>

{% endmacro %}

{% macro afficheContenuListeExperimentations() %}

<form id="idFormulaireContenuListeExperimentations" class="formulaireSpecificationMesJEEI">
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3">
      </div>
    </div>
    <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            First radio
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Second radio
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
          <label class="form-check-label" for="gridRadios3">
            Third disabled radio
          </label>
        </div>
      </div>
    </fieldset>
    <div class="row mb-3">
      <div class="col-sm-10 offset-sm-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1">
          <label class="form-check-label" for="gridCheck1">
            Example checkbox
          </label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>

{% endmacro %}


{% macro afficheContenuEquipe() %}

<form id="idFormulaireContenuListeExperimentations" class="formulaireSpecificationMesJEEI">
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3">
      </div>
    </div>
    <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            First radio
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Second radio
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
          <label class="form-check-label" for="gridRadios3">
            Third disabled radio
          </label>
        </div>
      </div>
    </fieldset>
    <div class="row mb-3">
      <div class="col-sm-10 offset-sm-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1">
          <label class="form-check-label" for="gridCheck1">
            Example checkbox
          </label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>

{% endmacro %}