{% macro afficheModalProtocol() %}

<!-- Button trigger modal -->

  <button type="button" style="height : 40px"class="btn btn-secondary" data-toggle="modal" data-target="#modalProtocol" id="idBtnModalProtocol">
    Consulter
  </button>



<!-- Modal -->
<div class="modal fade" id="modalProtocol" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Protocole Experimental</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div style="padding:10px">

<h5> Engagements</h5>
Si vous participez à cette recherche, nous vous demandons :
<ul>
    <li> de collaborer pleinement au bon déroulement de cette recherche;</li>
    <li>de ne rien cacher comme information au sujet de vos avis et ressentis; </li>
    <li>de ne divulguer aucune information, à quelconque tiers, qui pourrait compromettre les résultats et conclusions de cette expérimentation (protocole, questions posées et autres).</li>
</ul>

<h5> Description</h5>


Cette étude se justifie par le fait que le marché de l’emploi vit actuellement une pénurie de profils informatiques qualifiés. Il est primordial de rendre les études d’informatique plus attrayantes afin d’attirer de nouveaux profils et ainsi répondre aux demandes du marché de l’emploi.
6 étudiants de premier cycle universitaire en informatique participeront à cette expérimentation.
Vous serez assigné aléatoirement au travers de deux groupes. Les membres de groupe contrôle participeront à une activité de travaux pratiques classique. Les membres du groupe expérimental quant à eux participeront à un jeu d’évasion éducatif spécifiquement conçu pour l’apprentissage de l’informatique.
Nous récolterons des données par rapport à votre motivation, votre expérience utilisateur, vos caractéristiques démographiques et votre évolution d’apprentissage entre la situation pré et post activité.

<h5> Déroulement</h5>
L'expérimentation se déroulera de la manière suivante:
<ul> 
    <li>Questionnaire démographique [10 minutes] </li>
    <li>Cours magistral [120 minutes] </li>
    <li>Repos [15 min] </li>
    <li>Annonce des groupes [5min] </li>
    <li>Questionnaire de motivation [15 min] </li>
    <li>Test de vos connaissances [30 min] </li>
    <li>Activité (varie selon le groupe auquel vous êtes assigné)[120 min] </li>
    <li>Repos [15 min] </li>
    <li>Test de vos connaissances [30 min] </li>
    <li>Questionnaire d'expérience utilisateur [15 min] </li>
    <li>Débriefing et discussion de groupe [15 min] </li>
    <li>[1 mois plus tard]
Test de vos connaissances [30 min] </li>
</ul>




<h5>Consentement éclairé </h5>


<li>Je déclare que j’ai été informé sur la nature de l’étude, son but, sa durée, les inconvénients éventuels liés à la participation à l’étude et ce que l’on attend de moi.</li>
    <li>J’ai eu suffisamment de temps pour y réfléchir et en parler avec une personne de mon choix.
        <li>J’ai eu l’occasion de poser toutes les questions qui me sont venues à l’esprit et j’ai obtenu une réponse satisfaisante à mes questions.</li>
            <li>J’ai compris que ma participation à cette étude est volontaire et que je suis libre de mettre fin à ma participation à cette étude sans que cela ne modifie mes relations avec les investigateurs.</li>
                <li>J’ai compris que des données me concernant seront récoltées pendant toute ma participation à cette étude et que les investigateurs se portent garant de la confidentialité de ces données (cfr rubrique « Garanties de confidentialité » dans l’annexe « Droits et protection du participant »).</li>
                    <li>J’ai reçu une copie de l’information au participant et du consentement éclairé.</li>






      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        
      </div>
    </div>
  </div>
</div>






{% endmacro %}