<head>
    <link href="/static/css/aPropos.css" rel="stylesheet"><!-- idem-->
    <!-- import de macro. Comme ça c'est dispo pour toutes les pages filles -->
</head>

<!-- herite de main (de tout sauf les blocks (donc le menu)) -->
{% extends "parentPage.html" %}

<!-- Tout ce dont on a pas herité de main -->



{% block body %}
<body onload="changerImageFond()"> </body>
    <h2  style="color: grey;font-weight: bold;">Documentation  </h2>
    <h5> par Rudy KABIMBI NGOY  </h4>
    
    <h4 style="color: grey;font-weight: bold;"> Résumé</h4>

    <p>
        Il y a un consensus sur le fait que les jeux éducatifs, et dans le cas d’espèce les jeux d’évasion éducatifs, aient un impact bénéfique sur l’apprentissage des étudiants en informatique. Mais à ce stade, cette hypothèse n’est pas démontrée empiriquement car les méthodes d’évaluation utilisées par les chercheurs dans le domaine sont réalisées de manière ad hoc, manquent de reproductibilité et s’appuient sur des échantillons souvent confidentiels.
        Dans ce travail, nous vous présenterons "Evscape", une méthode standard d’évaluation de jeux d’évasion éducatifs destinés à l’apprentissage de l’informatique (JEEI) respectant le cadre de travail EscapED (voir [Clarke et al., 2017]). Cette méthode se destine exclusivement aux JEEI conçus à des fins d’enseignement dispensé au premier cycle universitaire.

    </p>
    <p>
        Evscape a été développée au sein de la faculté d’informatique de l’Unamur. Ses critères d’évaluation portent sur les aspects de motivation, d’expérience utilisateur et d’apprentissage. Grâce à cet outil, les chercheurs travaillant sur le développement de JEEI pourront se soustraire à la construction ad hoc d’une méthode d’évaluation ; tout en gagnant en rigueur méthodologique et en comparabilité avec d’autres JEEI. Cette méthode s’est construite sur base de la recherche existante relative à l’évaluation des jeux éducatifs destinés à l’apprentissage de l’informatique. Les méthodes utilisées dans le cadre de notre travail ont été sélectionnées pour leur pertinence au regard des caractéristiques propres aux JEEI et adaptées le cas échéant.

    </p>

    <p>

        A terme, l’objectif que nous nous sommes fixés est de récolter et de compiler les résultats de toutes les évaluations réalisées par le biais d’Evscape, et ainsi pouvoir statuer empiriquement quant aux vertus théoriques prêtées aux JEEI et à leur efficacité. Afin de faciliter la mission que nous nous sommes fixée, nous avons transposé la méthode Evscape dans une application web : EvscApp2. Nous sommes convaincus que nos utilisateurs trouveront dans Evscape et EvscApp un moyen de combler un besoin auquel la recherche actuelle n’avait, à notre connaissance, pas encore répondu.

    </p>

 
        <a href ="/static/img/Memoire_main_compressed.pdf" attributes-list target="_blank" style="color:rgb(236, 183, 26);font-weight:bold"> Telecharger documentation *</a>  

        <p style="margin-top: 25px; font-size: smaller;"> *  Erratum : </p>
        <ul > 
            <li style="font-size: smaller;">formule 5.2 : multplier l'expression au dénominateur par 4</li>
            <li style="font-size: smaller;">formule 5.7 : élever la paranthèse au carré</li>
            <li style="font-size: smaller;">formule 5.8 : élever la paranthèse au carré</li>
        </ul>



    </div>
     <script src="{{ url_for('static',filename='js/fonctions_APropos.js')}}"></script>
     <script src="{{ url_for('static',filename='js/fonctions_flux.js')}}"></script> <!-- Laisser ca partout - besoin pour mon hack de fond-->
    </div>
    
{% endblock %}


