<!-- herite de main (de tout sauf les blocks (donc le menu)) -->
{% extends "parentPage.html" %}

<!-- Tout ce dont on a pas herité de main -->

{% block content %}<!-- block de sous titre-->
    CREATION INDICE
{% endblock %}

{% block body %}

            <div>
            {%if formu.errors%}
                {%for message in formu.indice.errors%} <!-- pour chaque message d'erreurs générés-->
                    <div class="alert alert-danger" role="alert">{{message}}  </div> <!-- on affiche le message prévu avec style-->   
                {%endfor%}
            {%endif%}
            </div>

    <p><B>Aujoutez des indices à l'enigme numéro </B>: {{enigme.id}} (  {{enigme.question}}) </p>
    <form action="/CreerIndice?paginationActu={{pageRetour}}&enigme={{enigme.id}}&paginationActuListe={{page}}&fpaginationActuelle={{pageRetourListeOk}}" method="POST"> 
        <div class="form-group"> <!-- formulaire-->
            
            {{ formu.csrf_token }}<!-- sécurité-->


            <div class="formu-row">{{ formu.indice.label }} {{ formu.indice(size=50, class='formu-control') }}</div><!-- 50=taille champs reponse-->
            

        </div>
        
        <div class="formu-row" href="/majIndice?enigme={{enigme.id}}"  >{{ formu.submit (class='btn btn-primary')}}<!-- pour afficher le bouton-->
        &nbsp &nbsp <!-- espace entre bouton-->
        <a class="btn btn-primary" href="/voirIndice?page={{pageRetour}}&enigme={{enigme.id}}&paginationActu={{pageRetour}}&paginationActuListe={{page}}&fpaginationActuelle={{pageRetourListeOk}}" role="button">Retour</a>  </div>
       
    </form>

     
{% endblock %}

