<!-- herite de main (de tout sauf les blocks (donc le menu)) -->
{% extends "parentPage.html" %}

<!-- Tout ce dont on a pas herité de main -->

{% block content %}<!-- block de sous titre-->
    CREATION ENIGME
{% endblock %}

{% block body %}

            <div><!-- si il y a une erreur déclenchée sur base des objets formulaires d'enigme-->
            {%if enigmes.errors%}<!-- recupere les erreurs prévues dans la classe enigme-->
                {%for message in enigmes.question.errors%} <!-- pour chaque message d'erreurs générés dans le cadre de l'erreur sur le champ question des formulaires de type RiddleForm. En effet enigmes = formulaire-->
                    <div class="alert alert-danger" role="alert">{{message}}  </div> <!-- on affiche le message prévu dans la classe RiddleForm avec style-->   
                {%endfor%}
                {%for message in enigmes.reponse.errors%} <!-- pour chaque message d'erreurs générés-->
                    <div class="alert alert-danger" role="alert">{{message}}  </div> <!-- on affiche le message prévu avec style-->   
                {%endfor%}
                {%for message in enigmes.niveau.errors%} <!-- pour chaque message d'erreurs générés-->
                    <div class="alert alert-danger" role="alert">{{message}}  </div> <!-- on affiche le message prévu avec style-->   
                {%endfor%}
            {%endif%}
            </div>

    <p><B>Aujoutez des questions et reponses</B></p>
    <form action="/CreationEnigme?pageRetour={{pageRetour}}" method="POST" novalidate> <!-- quand il revient dans la routes Creation Enigme il a dans l'url la dernière page et quand on fait le redirect url_for vers la liste de question on peut communiquer la bonne page-->
        <div class="form-group"> <!-- formulaire-->
            <p >{{ macroUn.afficherApple() }}</p>
            {{ enigmes.csrf_token }}<!-- sécurité-->




            <div class="enigmes-row">{{ enigmes.question.label }} {{ enigmes.question(size=70, class='enigmes-control') }}</div><!-- 70=taille champs reponse-->
           
            <div class="enigmes-row">{{ enigmes.reponse.label }} {{ enigmes.reponse(size=15, class='enigmes-control') }}</div>
          
            <div class="enigmes-row">{{ enigmes.niveau.label }}
            {{ enigmes.niveau(type="number", min="0", step="1", max="5", class='enigmes-control') }}</div> <!-- on limite entre 0 et 5 les valeurs-->


            <div class="enigmes-row">  {{ enigmes.categorie.label }}  {{ enigmes.categorie(size=3,class='enigmes-control')}}  </div>
            



        </div>
        
        <div class="enigmes-row">{{ enigmes.submit (class='btn btn-primary')}}<!-- pour afficher le bouton-->
           
       <a class="btn btn-primary" href="/ListeEnigmes?page={{pageRetour}}" role="button">Retour Enigmes</a> </div>
    </form>

    

    {{ macroUn.afficherApple() }}<!-- Utilisation de la macro d'afichage de la pomme-->

{% endblock %}

