<!-- herite de main (de tout sauf les blocks (donc le menu)) -->
{% extends "parentPage.html" %}


<!-- Tout ce dont on a pas herité de main -->

{% block content %}<!-- block de sous titre-->
    GAME 1
{% endblock %}

{% block body %}
<div >
      



        <h4 id="messageFin">{{message}} </h4>
      
        <!-- <button  type="button" class="btn btn-dark" onclick="/game1" >Jouer une Nouvelle Enigme</button> -->
        {%if message=="MMMMmmm je vous attendais"%}
        <div><img src="/static/img/enigmatic.jpeg"></div>
        {%endif%}
      
        

        <script src="{{ url_for('static',filename='js/fonctions_liste.js')}}"></script>
</div>
{% endblock %}

