<!-- herite de main (de tout sauf les blocks (donc le menu)) -->
{% extends "parentPage.html" %}

<!-- Tout ce dont on a pas herité de main -->

{% block content %}<!-- block de sous titre-->
    PAGE D'INSCRIPTION
{% endblock %}

{% block body %}

            <div><!-- si il y a une erreur déclenchée sur base des objets formulaires d'inscription-->
            {%if formulaire.errors%}
                {%for message in formulaire.username.errors%} <!-- pour chaque message d'erreurs générés-->
                    <div class="alert alert-danger" role="alert">{{message}}  </div> <!-- on affiche le message prévu avec style-->   
                {%endfor%}
                {%for message in formulaire.firstname.errors%} <!-- pour chaque message d'erreurs générés-->
                    <div class="alert alert-danger" role="alert">{{message}}  </div> <!-- on affiche le message prévu avec style-->   
                {%endfor%}
                {%for message in formulaire.email.errors%} <!-- pour chaque message d'erreurs générés-->
                    <div class="alert alert-danger" role="alert">{{message}}  </div> <!-- on affiche le message prévu avec style-->   
                {%endfor%}
                {%for message in formulaire.birthday.errors%} <!-- pour chaque message d'erreurs générés-->
                    <div class="alert alert-danger" role="alert">{{message}}  </div> <!-- on affiche le message prévu avec style-->   
                {%endfor%}
                {%for message in formulaire.lastname.errors%} <!-- pour chaque message d'erreurs générés-->
                    <div class="alert alert-danger" role="alert">{{message}}  </div> <!-- on affiche le message prévu avec style-->   
                {%endfor%}
                {%for message in formulaire.password.errors%} <!-- pour chaque message d'erreurs générés-->
                    <div class="alert alert-danger" role="alert">{{message}}  </div> <!-- on affiche le message prévu avec style-->   
                {%endfor%}
                {%for message in formulaire.passwordConfirmation.errors%} <!-- pour chaque message d'erreurs générés-->
                    <div class="alert alert-danger" role="alert">{{message}}  </div> <!-- on affiche le message prévu avec style-->   
                {%endfor%}
                
            {%endif%}
            </div>

    <p><B>Encodez vos login/mdp</B></p>
    <form action="/Inscription" method="POST"> 
        <div class="form-group"> <!-- formulaire-->
            
            {{ formulaire.csrf_token }}<!-- sécurité-->



                 
            <div class="formulaire-row">{{ formulaire.username.label }} {{ formulaire.username(size=20, class='formulaire-control') }}</div>
            
            <div class="formulaire-row">{{ formulaire.firstname.label }} {{ formulaire.firstname(size=30, class='formulaire-control') }}</div>
            
            <div class="formulaire-row">{{ formulaire.lastname.label }} {{ formulaire.lastname(size=30, class='formulaire-control') }}</div>

            <div class="formulaire-row">{{ formulaire.email.label }} {{ formulaire.email(size=60, class='formulaire-control') }}</div>

            <div class="formulaire-row">{{ formulaire.birthday.label }} {{ formulaire.birthday(size=10, class='formulaire-control') }}</div>

            <div class="formulaire-row">{{ formulaire.password.label }} {{ formulaire.password(size=60, class='formulaire-control') }}</div>

            <div class="formulaire-row">{{ formulaire.passwordConfirmation.label }} {{ formulaire.passwordConfirmation(size=60, class='formulaire-control') }}</div>

            <!-- <div class="formulaire-row">{{ formulaire.admin.label }} {{ formulaire.admin(size=10, class='formulaire-control') }}</div> -->

        </div>
        
        <div class="form-row">{{ formulaire.submit (class='btn btn-primary')}}</div><!-- pour afficher le bouton-->
           
       
    </form>
    {{ macroUn.afficherApple() }}<!-- Utilisation de la macro d'afichage de la pomme-->

    
{% endblock %}
