<!-- herite de main (de tout sauf les blocks (donc le menu)) -->
{% extends "parentPage.html" %}

<!-- Tout ce dont on a pas herité de main -->

{% block content %}<!-- block de sous titre-->
    Màj Enigme
{% endblock %}
{% block body %}


            <div><!-- si il y a une erreur déclenchée sur base des objets formulaires d'enigme-->
            {%if formMaj.errors%}
                {%for message in formMaj.question.errors%} <!-- pour chaque message d'erreurs générés-->
                    <div class="alert alert-danger" role="alert">{{message}}  </div> <!-- on affiche le message prévu avec style-->   
                {%endfor%}
                {%for message in formMaj.reponse.errors%} <!-- pour chaque message d'erreurs générés-->
                    <div class="alert alert-danger" role="alert">{{message}}  </div> <!-- on affiche le message prévu avec style-->   
                {%endfor%}
                {%for message in formMaj.niveau.errors%} <!-- pour chaque message d'erreurs générés-->
                    <div class="alert alert-danger" role="alert">{{message}}  </div> <!-- on affiche le message prévu avec style-->   
                {%endfor%}
            {%endif%}
            </div>
    
     <p><B>Mettez les champs à jour</B></p>
    <form action="/majEnigme?paginationActu={{pageRetour}}&enigme={{enigmeId}}" method="POST"> <!-- pour que quand je clique sur le submit les deux premiere ligne de la route puisse recup les données nécéssaires dans URL crée par l esubmit-->
        <div class="form-group"> <!-- formulaire-->
            
            {{ formMaj.csrf_token }}<!-- sécurité-->






            <div class="formMaj-row">{{ formMaj.question.label }} {{ formMaj.question(size=70, class='formMaj-control') }}</div><!--truc avec .label c'est pr dire qu'on met dans le form la valeur anciennement présente  pratique pour les modifications-->
            
            <div class="formMaj-row">{{ formMaj.reponse.label }} {{ formMaj.reponse(size=15, class='formMaj-control') }}</div>
            
            <div class="formMaj-row">{{ formMaj.niveau.label }}</div> 
            <div> {{ formMaj.niveau(type="number", min="0", step="1", max="5", class='formMaj-control') }}</div><!-- on limite entre 0 et 5 les valeurs-->

            <div class="formMaj-row">  {{ formMaj.categorie.label }}  {{ formMaj.categorie(size=3,class='formMaj-control')}}  </div>
        </div>
        
        <!-- j'ouvre mon div ici et le ferme 3 lignes plus bas pour mettre les boutons l'un à côté de l'autre-->
        <div class="formMaj-row">{{ formMaj.submit (class='btn btn-primary' )}}<!-- pour afficher le bouton submit-->
        
        <a class="btn btn-primary" href="/ListeEnigmes?page={{pageRetour}}" role="button">Retour Enigmes</a> 
      
        <a class="btn btn-primary" href="/voirIndice?paginationActu={{pageRetour}}&enigme={{enigmeId}}&paginationActuListe={{pageRetour}}" role="button">Indices</a> </div>
    </form>
     
    
    {%if formMaj.validate_on_submit() %}<!-- Affiche merci si nouvelle question validée-->
        <div class="alert alert-success" role="alert">Merci pour ta contribution </div> 
    {%endif%}
{% endblock %}




