<html>
    <head>
        <title>Evscape</title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet"><!-- "import" des feuilles de style (avec un lien relatif)-->
      
        <link href="/static/css/parentPage.css" rel="stylesheet"><!-- idem-->
        {% import "macros/macroUn.html" as macroUn %}<!-- import de macro. Comme ça c'est dispo pour toutes les pages filles -->
    
    </head>

    <body id="body" style="margin-bottom: 35px;">
        <!-- MENU -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top ">
            <ul class="nav"><!-- ul : liste non ordonnée-->
                <a class="navbar-brand" style="color: gold;" href="/">EvscApp</a><!-- Un bouton "Logo"-->
                <li class="nav-item"><a class="nav-link active " href="/aPropos">Documentation</a></li>
                {% if currentUser.is_authenticated%}<!-- Si utilisateur connecté alors il voit le menu suivant-->
                    <li class="nav-item"><a class="nav-link active" href="/flux">Indicateurs Clés</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/mesJEEI"> Jeux d'Evasion</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/mesExperimentations"> Mes Experimentations</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/ueq">Votre Avis</a></li>    
                    <li class="nav-item"><a class="nav-link active" href="/Logout">Se déconnecter </a></li>
                    
                {%endif%}
            </ul>
            
        </nav>
       
       



        <!-- affichage des erreurs flash-->
        <div class="container">
            <row>

                <div class="p-4 flash" id="idFlash">
                    {% if form is defined and form.errors is defined %}
                    {% for field, errors in form.errors.items() %}
                        <div class="alert alert-danger ">
                            {{ form[field].label }} {{ ', '.join(errors) }}
                        </div>
                        {% endfor %}
                    {%endif %}
                    {% with messages = get_flashed_messages( with_categories=true) %}
                        {% if messages %}
                            {% for c, m in messages %}
                                <div class="alert alert-{{ c }}">{{ m }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    
                </div>
            </row>
        </div>


         <div class="container" style="margin-bottom: 25px;"> <!-- pour bootstrap obligatoire d'avoir un container-->
           
               
                {% block body %} 
            
                {% endblock %}<!-- block qui contiendr coeur de la page (partie libre))e-->
            </div>
        </div>

        <div style="margin-top: 25px;"> 
        <footer class="footer text-white-50 bg-dark" >
            <div > 
            {% if currentUser.is_authenticated%}
           
                <p class="text-white-50 bg-dark" style="padding-top: 10px;">Utilisateur connecté  :   <strong>  <font color="gold"> {{currentUser.firstname}} {{currentUser.lastname}}</font></strong> </p>
       
            {%endif%}
            </div>
            <div > 
                <a href="www.unamur.be/info" style="color: rgb(72, 247, 72);"> Unamur </a>- 2022
            </div>
        </footer >
        </div>

        <script src="/static/js/JQuery.js"></script> <!-- lien vers fichiers du javascript -->
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/3703f1d8e1.js" crossorigin="anonymous"></script><!-- Lien vers fontawsom-->
 
    </body>
</html>

