<head>
 
    <link href="/static/css/specificationMesJEEI.css" rel="stylesheet"><!-- idem-->
    {% import "macros/macro_specificationMesJEEI.html" as macro_specificationMesJEEI %}<!-- import de macro. Comme ça c'est dispo pour toutes les pages filles -->
</head>

<!-- herite de main (de tout sauf les blocks (donc le menu)) -->
{% extends "parentPage.html" %}

<!-- Tout ce dont on a pas herité de main -->



{% block body %}
<body onload="changerImageFond()"> </body>

{{monJEEIRecupere.id}} {{monJEEIRecupere.nom}} {{monJEEIRecupere.img}} {{specification}}
    
<row>
<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
</ul>
</row>
<row>
    <div>
        L(onglet lance une fonction javascript qui vient chercher et mettre le contenu ici. contenu en fct de l'onglet. Faire des composants differents via maco
    </div>
</row>





    </div>
     <script src="{{ url_for('static',filename='js/fonctions_specificationMesJEEI.js')}}"></script>
     <script src="{{ url_for('static',filename='js/fonctions_flux.js')}}"></script> <!-- Laisser ca partout - besoin pour mon hack de fond-->
     
    </div>
    
{% endblock %}


