
    <head>
  

      
        <link href="/static/css/user_login.css" rel="stylesheet"><!-- idem-->
        {% import "macros/macroUn.html" as macroUn %}<!-- import de macro. Comme ça c'est dispo pour toutes les pages filles -->
    </head>

<!-- herite de main (de tout sauf les blocks (donc le menu)) -->
{% extends "parentPage.html" %}

<!-- Tout ce dont on a pas herité de main -->

{% block content %}<!-- block de sous titre-->
    PAGE LOGIN
{% endblock %}

{% block body %}


    
<div class="composantLogin col-sm-12" > 
    <div class="boxLoginForm"> 
        <center> 
            <form action="/login" method="POST"> 
                <div class="form-group"> <!-- formulaire-->
                    
                    {{ formulaire.csrf_token }}<!-- sécurité-->
                    <div class="formulaire-row">{{ formulaire.username.label }} 
                
                    {{ formulaire.username(size=20, class='formulaire-control', placeholder="Utilisateur") }}</div><!-- 200=taille champs reponse-->
                    
                    <div class="formulaire-row">{{ formulaire.password.label }} 
                
                    {{ formulaire.password(size=20, class='formulaire-control', placeholder="Mot de Passe") }}</div>
                </div>
                
                <div class="btnLogin"> 
                    <div class="formulaire-row ">{{ formulaire.submit (class='btn btn-warning')}}</div><!-- pour afficher le bouton-->
                    <button type="button" class="btn btn-secondary"> Inscription</button>
                </div>
                
            
            </form>
         </center>
    
  


          <a class="lienHypertexte" href="http://127.0.0.1:5000/motDePasseOublie">Mot de passe oublié?</a>
 
    
</div>


  
   




 

  

    
{% endblock %}

