<head>
    <link href="/static/css/questionnaireParticipantsUX.css" rel="stylesheet"><!-- idem-->
    {% import "frontend_etudiant/macros/macro_questionnaireParticipantsPreTest.html" as macro_questionnaireParticipantsPreTest %}<!-- import de macro. Comme ça c'est dispo pour toutes les pages filles -->
</head>

<!-- herite de main (de tout sauf les blocks (donc le menu)) -->
{% extends "frontend_etudiant/parentPageEtudiant.html" %}

<!-- Tout ce dont on a pas herité de main -->



{% block body %}
<body onload="changerImageFond()"> </body>
<h2 class="likert-header" style="color: grey;">Post-Test ({{jeei.nom}}) </h2>
<h4> Participant :  {{participant.nom}} {{participant.prenom}} </h4>


{%if experimentation.etape10==false%}   

{% for n in range(10) %}
<div class=" questionPreTest">

    <p class="questionposeePreTest" id="question{{questionsApprentissage['id'][n]}}">{{questionsApprentissage['question'][n]}}</p>
    <div class="form-check choixMultiple" >
        <input class="form-check-input" type="radio" name="flexRadioDefaultA{{questionsApprentissage['id'][n]}}" id="flexRadioDefault{{questionsApprentissage['id'][n]}}1" value="{{questionsApprentissage['reponses'][n][0]}}">
        <label class="form-check-label" for="flexRadioDefault1">
            {{questionsApprentissage['reponses'][n][0]}}
        </label>
    </div>
    <div class="form-check choixMultiple">
        <input class="form-check-input" type="radio" name="flexRadioDefaultA{{questionsApprentissage['id'][n]}}" id="flexRadioDefault{{questionsApprentissage['id'][n]}}2" value="{{questionsApprentissage['reponses'][n][1]}}"  >
        <label class="form-check-label" for="flexRadioDefault2">
            {{questionsApprentissage['reponses'][n][1]}}
        </label>
    </div>
    <div class="form-check choixMultiple">
        <input class="form-check-input" type="radio" name="flexRadioDefaultA{{questionsApprentissage['id'][n]}}" id="flexRadioDefault{{questionsApprentissage['id'][n]}}3" value="{{questionsApprentissage['reponses'][n][2]}}">
        <label class="form-check-label" for="flexRadioDefault2">
            {{questionsApprentissage['reponses'][n][2]}}
        </label>
    </div>
    <div class="form-check choixMultiple">
        <input class="form-check-input" type="radio" name="flexRadioDefaultA{{questionsApprentissage['id'][n]}}" id="flexRadioDefault{{questionsApprentissage['id'][n]}}4" value="{{questionsApprentissage['reponses'][n][3]}}" >
        <label class="form-check-label" for="flexRadioDefault2">
            {{questionsApprentissage['reponses'][n][3]}}
        </label>
    </div>
    <div class="form-check choixMultiple">
        <input class="form-check-input" type="radio" name="flexRadioDefaultA{{questionsApprentissage['id'][n]}}" id="flexRadioDefault{{questionsApprentissage['id'][n]}}5" value="abstention" >
        <label class="form-check-label" for="flexRadioDefault2">
            Abstention
        </label>
    </div>
    




</div>
{% endfor %}

<button type="button" class="btn btn-warning" style="margin-top:25px;margin-bottom: 50px;"onclick="fonction_sauverPostTest({{participant.id}},{{questionsApprentissage}})">Soumettre</button>

{%else%}
<div>

    <div class="jumbotron text-center " style="background-color:rgb(104, 104, 104)">
      <h1 class="display-3" style="color:white">ATTENTION!</h1>
      <p class="lead"  style="color:white"><strong>Votre enseignant à mis un terme à cette étape, il ne vous est plus possible d'évaluer.</strong> </p>
      <hr>
  </div>

{%endif%}





<script src="{{ url_for('static',filename='js/fonctions_questionnaireParticipantsPostTest.js')}}"></script>
<script src="{{ url_for('static',filename='js/fonctions_flux.js')}}"></script> <!-- Laisser ca partout - besoin pour mon hack de fond-->
</div>

{% endblock %}
